input {
    border-color: grey;
    border-radius: 3px;
    border-width: 3px;
}

input:invalid {
    box-shadow: none;
}

.ng-dirty.ng-invalid {
    border-color: red;
}

.ng-dirty.ng-valid {
    border-color: green;
}

